{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span2">
            {% block sidebar %}{% include 'admin/sidebar.html' %}{% endblock %}
        </div><!-- End .span2 -->
        <div class="span10">
            {% block main %}<!-- Main content -->{% endblock %}
        </div><!-- End .span10 -->
    </div><!-- End .row -->
</div><!-- End .container -->
{% endblock content %}

{% block footer %}
<div class="footer">
    <p></p>
</div><!-- End .footer -->
{% endblock footer %}
