{% extends 'index.html' %}
{% block main %}
{{ field.non_field_errors }}
    <form id="pollForm" name="pollForm" action="" method="post" class="form-horizontal">{% csrf_token %}
        <div id="id_president">
        {% for field_name, l in presidents %}
            <div class="radio">
                <input type="radio" name="president" value="{{ field_name }}"/>
                {{ field_name }}
            </div>
        {% endfor %}
        </div>
        <div class="input-group" id="alt_key">
          <span class="input-group-addon">Код для голосования</span>
          <input type="text" class="form-control" placeholder="Код для голосования" name='alt_key' id="alt_key">
        </div>

        <br/><br/>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Голосовать</button>
            </div><!-- End .controls -->
        </div><!-- End .control-group -->
    </form>
{% endblock main %}