{% extends 'index.html' %}

{% block head %}
    <!-- Custom CSS and JS -->
    <SCRIPT src="/static/js/jsencripts.js"></SCRIPT><!--needed for rsa en-/decryption-->
    <SCRIPT>

        var crypt = new JSEncrypt();

        $( document ).ready(function() {
            $("#theForm").submit(function(a,b,c) {
                var field_ids = ['id_firstname', 'id_login', "id_lastname",
                              "id_password1", "id_password2", "id_email"];
                debugger;
                $("#pubkey").val({{public_key|safe}});

                crypt.setPublicKey($("#pubkey").val());
                for (i in field_ids) {
                    field_name = field_ids[i];
                    field = $("#"+field_name);
                    if (field) {
                        field = field[0];
                        field.value = encryptFiled(field.value);
                    }
                }
            })
        });
        function encryptFiled(str) {

            return crypt.encrypt(str);
        }
    </SCRIPT><!--needed for rsa en-/decryption-->
{% endblock %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% block main %}
    {% if error %}
        {{ error }}
    {% else %}
        <form id="theForm" name="theForm" action="" method="post" class="form-horizontal">{% csrf_token %}
            {% for field in form %}
            <div class="control-group">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {{ field.errors }}
                </div><!-- End .controls -->
            </div><!-- End .control-group -->
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </div><!-- End .controls -->
            </div><!-- End .control-group -->
        </form>
    {% endif %}
    <textarea id="pubkey" style="display:none"></textarea><br/>
{% endblock %}
